.app__gallery {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 3rem 1rem 0 1rem;

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  @media screen and (min-width: 1024px) {
    margin-top: 7rem;
    padding-left: 4rem;
    display: flex;
    flex-direction: row;
    padding-top: 0rem;
  }
}

.app__gallery-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  padding-right: 2rem;

  @media screen and (min-width: 1024px) {
    width: 40%;
  }

  h2 {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
    color: var(--darkgray-color);
  }

  p {
    color: var(--gray-color);
    font-size: 1.1rem;
  }

  .app__gallery-download {
    background-color: var(--blue-color);
    color: var(--white-color);
    height: 2.7rem;
    width: 85%;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    margin-top: 1.5rem;

    @media screen and (min-width: 768px) and (max-width: 1023px) {
      width: 50%;
    }

    @media screen and (min-width: 1280px) {
      width: 70%;
    }

    a {
      text-decoration: none;
      color: var(--white-color);
    }

    svg {
      margin-right: 2%;
    }
  }
}

.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25rem;

  @media screen and (min-width: 768px) {
    height: 35rem;
  }

  @media screen and (min-width: 1024px) {
    width: 50%;
    margin-right: 5rem;
    height: 25rem;
  }

  @media screen and (min-width: 1280px) {
    height: 35rem;
  }

  .slide {
    border-radius: 0.5rem;
    box-shadow: 0px 0px 7px #666;
    width: 100%;
    height: 100%;
  }

  .slide-hidden {
    display: none;
  }

  .arrow {
    position: absolute;
    width: 2rem;
    height: 2rem;
    color: var(--white-color);
    filter: drop-shadow(0px 0px 5px #555);
  }

  .arrow:hover {
    cursor: pointer;
  }

  .arrow-left {
    left: 1rem;
  }

  .arrow-right {
    right: 1rem;
  }
}

.blue-text {
  color: var(--blue-color);
}
