.app__aboutus {
  width: 100%;
  padding: 2.5rem 1rem 0 1rem;
  font-family: var(--font-base);
  background-size: cover;
  background-position: center;
  background-color: var(--lightgray-color);
  margin-top: 1.5rem;

  @media screen and (min-width: 768px) {
    margin-top: 6rem;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  @media screen and (min-width: 1024px) {
    padding-left: 4rem;
    padding-right: 3rem;
    padding-top: 4rem;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 7rem;
  }

  @media screen and (min-width: 2000px) {
    padding-top: 8rem;
  }

  .app__aboutus-info {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 1024px) {
      flex-direction: row;
    }

    .app__aboutus-about {
      margin-bottom: 2rem;

      @media screen and (min-width: 1024px) {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      h2 {
        font-size: 3.5rem;
        margin-bottom: 1.5rem;
        color: var(--darkgray-color);
      }

      p {
        @media screen and (min-width: 1024px) {
          padding-right: 2rem;
        }
      }

      .app__aboutus-gallery {
        background-color: var(--pink-color);
        color: var(--white-color);
        height: 2.7rem;
        width: 75%;
        border-radius: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        margin-top: 1.5rem;

        @media screen and (min-width: 768px) and (max-width: 1023px) {
          width: 40%;
        }

        @media screen and (min-width: 1024px) {
          width: 53%;
        }

        @media screen and (min-width: 1280px) {
          width: 40%;
          margin-bottom: 0rem;
        }

        a {
          text-decoration: none;
          color: var(--white-color);

          .gallery-span {
            margin-right: 7px;
          }
        }
      }
    }

    .app__aboutus-image {
      width: 100%;

      @media screen and (min-width: 1024px) {
        flex-basis: 50%;
      }

      @media screen and (min-width: 1280px) {
        padding-left: 2rem;
        padding-right: 2rem;
      }

      img {
        max-width: 100%;
      }
    }
  }

  .app__aboutus-history {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;

    @media screen and (min-width: 1024px) {
      flex-direction: row;
      margin-top: 0rem;
    }

    .app__aboutus-history-image {
      display: none;
      flex-basis: 50%;

      @media screen and (min-width: 1024px) {
        display: flex;
      }

      img {
        max-width: 100%;
      }
    }

    p {
      @media screen and (min-width: 1024px) {
        flex-basis: 50%;
      }
    }
  }

  // @media screen and (min-width: 768px) and (max-width: 1023px) {
  //   padding-left: 4rem;
  //   padding-right: 4rem;
  // }

  // @media screen and (min-width: 1024px) {
  //   padding-left: 4rem;
  // }

  // @media screen and (min-width: 2000px) {
  //   padding-top: 8rem;
  // }

  // .app__aboutus-info {
  //   display: flex;
  //   flex-direction: column;
  //   width: 100%;

  //   .app__aboutus-about {
  //     width: 100%;

  //     h2 {
  //       font-size: 3.5rem;
  //       margin-bottom: 1.5rem;
  //       color: var(--darkgray-color);
  //     }
  //   }
  // }
}

p {
  color: var(--gray-color);
  font-size: 1.1rem;
}

.pink-text {
  color: var(--pink-color);
}

.bold-text {
  font-weight: bold;
}
