.app__testimonials {
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  padding-right: 1rem;

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    padding-left: 3rem;
  }

  @media screen and (min-width: 1024px) {
    margin-top: 4rem;
    padding-left: 3rem;
  }

  .app__testimonials_container {
    display: flex;
    width: max-content;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
  }

  .app__testimonials_container::-webkit-scrollbar {
    display: none;
  }
}

.app__testimonials_card {
  min-width: 18rem;
  margin-right: 2rem;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 0.8rem;

  @media screen and (min-width: 1024px) {
    min-width: 23rem;
  }

  @media screen and (min-width: 1280px) {
    min-width: 27rem;
  }

  .testimonial-feedback {
    font-size: 17px;
    margin-left: 1rem;
    font-style: italic;
  }

  .testimonial-name {
    margin-top: 1.5rem;
    text-align: right;
    font-style: italic;
    font-weight: bold;

    @media screen and (min-width: 1024px) {
      margin-top: 2rem;
    }
  }
}
