#home {
  position: relative;
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
}

.app__header {
  flex: 1;
  width: 100%;
  height: 100%;
  flex-direction: row;
  padding: 6rem 2rem 0;
  font-family: var(--font-base);

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  @media screen and (min-width: 1024px) {
    padding-left: 4rem;
  }

  @media screen and (min-width: 2000px) {
    padding-top: 8rem;
  }

  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }

  @media screen and (max-width: 450px) {
    padding: 6rem 1rem 2rem;
  }

  .app__header-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    .app__header-heading {
      width: 100%;
      margin-bottom: 2rem;

      h1 {
        font-size: 5rem;
        font-family: var(--font-base);
        line-height: 5rem;
        margin-bottom: 1.5rem;

        @media screen and (min-width: 768px) and (max-width: 1023px) {
          font-size: 6rem;
          line-height: 5.5rem;
        }

        @media screen and (min-width: 1280px) {
          font-size: 8rem;
          line-height: 8rem;
        }
      }

      p {
        color: var(--gray-color);
        font-size: 1.1rem;
        margin-bottom: 2rem;

        .bold-text {
          font-weight: bold;
        }

        @media screen and (min-width: 1280px) {
          padding-right: 5rem;
        }
      }

      .app__header-see-more {
        background-color: var(--purple-color);
        color: var(--white-color);
        height: 2.7rem;
        width: 75%;
        border-radius: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;

        @media screen and (min-width: 768px) and (max-width: 1023px) {
          width: 40%;
        }

        @media screen and (min-width: 1280px) {
          width: 40%;
          margin-bottom: 0rem;
        }

        a {
          text-decoration: none;
          color: var(--white-color);

          .see-more-span {
            margin-right: 7px;
          }
        }
      }
    }

    .app__header-image {
      width: 100%;

      img {
        max-width: 100%;

        @media screen and (min-width: 768px) and (max-width: 1023px) {
          max-width: 100%;
        }
      } 
    }

    @media screen and (min-width: 1024px) {
      flex-direction: row;
    }
  }
}

.darkorange-text {
  color: var(--darkorange-color);
}

.purple-text {
  color: var(--purple-color);
}

.green-text {
  color: var(--green-color);
}

.orange-text {
  color: var(--orange-color);
}
