:root {
  --font-base: 'Nunito', sans-serif;
  --gray-color: #6b6c70;
  --lightgray-color: #ebebeb;
  --darkgray-color: #333333;
  --purple-color: #953786;
  --blue-color: #00adef;
  --pink-color: #ec008b;
  --green-color: #a5cc44;
  --orange-color: #FCD800;
  --darkorange-color: #edd136;
  --white-color: #ffffff;
} 

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
